[DEFAULT]
; The default section is used when no section is specified
secret_key=YOUR_SECRET_KEY
# copy the relative path of your firebase sdk .json file
#test-bluboygames-com.c8ogql7pdyd4.ap-south-1.rds.amazonaws.com
#interns_team
#interns_team#098#
#interns_db


[DATABASE]
